<article>
  <h3>Article Title</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati beatae sequi hic adipisci incidunt at voluptas magni sed animi rerum rem consequuntur officiis eveniet ullam eligendi dicta ipsum minima architecto aperiam dolor, corrupti omnis iure commodi placeat! Nisi sequi labore, rerum dolores tempora voluptate dignissimos laborum modi facilis? Perferendis, ad.</p>
</article>