<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  {% comment %} shopify will add scripts here in order to work  {% endcomment %}
  {{content_for_header}}
</head>
<body>
  <h1>Hello World</h1>
  {% render "article-card", article_title: "Best Shopify Team" %}
  {% render "article-card", article_title: "Testing series" %}

  {% comment %} everything above will be shown on all pages. everything below is shown depending on the page {% endcomment %}
  {{content_for_layout}}
</body>
</html>